ion-content {
    --background: #ffffff;
}

.close-icon {
    color: #ffffff;
    font-size: 25px;
}

.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}

.other-message {
    background: var(--ion-color-light);
    color: #000000;
}

.my-message {
    background: var(--ion-color-secondary);
    color: #000000;
}

.time {
    color: #1c1c1c;
    float: right;
    font-size: x-small;
}

.message-input {
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background: #ffffff;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
}

.msg-btn {
    --padding-start: 0.5em;
    --padding-end: 0.5em;
}