<ion-header>
  <ion-toolbar color="menu">
    <ion-button slot="start" fill="clear" (click)="closeChat()">
      <ion-icon class="close-icon" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title *ngIf="param_chat.creator_user.uid===logged_user.uid">{{param_chat.host_user.name}}</ion-title>
    <ion-title *ngIf="param_chat.host_user.uid===logged_user.uid">{{param_chat.creator_user.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="chatRoom">
    <ion-grid>
      <ion-row *ngFor=" let message of chatRoom.messages">
        <ion-col size="9" *ngIf="message.user_uid!==logged_user.uid" class="message other-message">
          <span>{{message.content}}</span>
          <div class="time" text-right><br>
            {{message.date.toMillis()  | date:'h:mm a'}}
          </div>
        </ion-col>
        <ion-col offset="3" size="9" *ngIf="message.user_uid===logged_user.uid" class="message my-message">
          <span>{{message.content}}</span>
          <div class="time" text-right><br>
            {{message.date.toMillis()  | date:'h:mm a'}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer padding>
  <ion-toolbar color="light">
    <ion-row align-items-center no-padding>
      <ion-col size="10">
        <textarea autosize maxRows="4" [(ngModel)]="contentMessage" class="message-input"></textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="contentMessage===''"  class="msg-btn" (click)="sendMessage()">
          <ion-icon name="send-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>