<ion-header>
  <ion-toolbar color="menu">
    <ion-button slot="start" fill="clear" (click)="closeModal()">
      <ion-icon class="close-icon" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Mensaje temporal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Se eliminará después de 5 segundos</ion-label>
    <ion-spinner color="tertiary" *ngIf="show"></ion-spinner>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{param_temporal_message.name_user_send}}</ion-card-title>
      <ion-card-subtitle>Fecha: {{param_temporal_message.date.toMillis() | date:'dd-MMM-yyyy'}}</ion-card-subtitle>
      <ion-card-subtitle>Hora: {{param_temporal_message.date.toMillis() | date:' h:mm a'}}</ion-card-subtitle>
    </ion-card-header><br>
    <ion-card-content *ngIf="show">
      {{param_temporal_message.content}}
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer padding>
  <ion-toolbar color="light">
    <ion-button expand="block" color="warning" (click)="seeSecretMessage()">
      Leer
    </ion-button>
  </ion-toolbar>
</ion-footer>