<ion-header>
  <ion-toolbar color="menu">
    <ion-title class="center">Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="log-image" src="assets/icon/login.svg" alt="">

  <form [formGroup]="login" (ngSubmit)="onSubmitLogin()">
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="text" formControlName="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <br>
    <ion-button (click)="onSubmitLogin()" expand="block" color="menu">Entrar</ion-button>
  </form>
  
  <br>
  <p class="center" routerLink="/register">Crear una cuenta</p>
</ion-content>
