<ion-header>
  <ion-toolbar color="menu">
    <ion-title class="center">Registrarse</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <img class="log-image" src="assets/icon/register.svg" alt="">

  <ion-label class="avatar-text">Avatar</ion-label><br>
  <ion-grid>
    <ion-row>
      <ion-col (click)="selectAvatar('atleta.png?alt=media&token=474611a7-cedf-4b82-90fe-274ccd3c7046')">
        <ion-avatar>
          <img src="{{base_url}}atleta.png?alt=media&token=474611a7-cedf-4b82-90fe-274ccd3c7046">
        </ion-avatar>
      </ion-col>
      <ion-col (click)="selectAvatar('azafata.png?alt=media&token=57635afc-bd3b-4122-b0fb-44de3f918425')">
        <ion-avatar>
          <img src="{{base_url}}azafata.png?alt=media&token=57635afc-bd3b-4122-b0fb-44de3f918425">
        </ion-avatar>
      </ion-col>
      <ion-col (click)="selectAvatar('bruja.png?alt=media&token=14a7dfcf-f26b-4df5-92aa-1709cc1dbbcb')">
        <ion-avatar>
          <img src="{{base_url}}bruja.png?alt=media&token=14a7dfcf-f26b-4df5-92aa-1709cc1dbbcb">
        </ion-avatar>
      </ion-col>
      <ion-col (click)="selectAvatar('caballero.png?alt=media&token=f176a58a-49ea-4f44-b16b-4bcf65cf5d5e')">
        <ion-avatar>
          <img src="{{base_url}}caballero.png?alt=media&token=f176a58a-49ea-4f44-b16b-4bcf65cf5d5e">
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col (click)="selectAvatar('granjero.png?alt=media&token=09620921-40b0-4ba2-b263-4547c53a95f3')">
        <ion-avatar>
          <img src="{{base_url}}granjero.png?alt=media&token=09620921-40b0-4ba2-b263-4547c53a95f3">
        </ion-avatar>
      </ion-col>
      <ion-col (click)="selectAvatar('heisenberg.png?alt=media&token=d78914ac-a17d-4fcd-949c-4451282aae5f')">
        <ion-avatar>
          <img src="{{base_url}}heisenberg.png?alt=media&token=d78914ac-a17d-4fcd-949c-4451282aae5f">
        </ion-avatar>
      </ion-col>
      <ion-col (click)="selectAvatar('monja.png?alt=media&token=a71bc7ec-68d3-43ec-80b5-252c709b0e6e')">
        <ion-avatar>
          <img src="{{base_url}}monja.png?alt=media&token=a71bc7ec-68d3-43ec-80b5-252c709b0e6e">
        </ion-avatar>
      </ion-col>
      <ion-col (click)="selectAvatar('muerte.png?alt=media&token=d0e1bd7e-211c-4785-aa15-9861a53c889d')">
        <ion-avatar>
          <img src="{{base_url}}muerte.png?alt=media&token=d0e1bd7e-211c-4785-aa15-9861a53c889d">
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form [formGroup]="register" (ngSubmit)="onSubmitRegister()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="name" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Estado</ion-label>
      <ion-input type="text" formControlName="state" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="text" formControlName="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar contraseña</ion-label>
      <ion-input type="password" formControlName="confirmPassword" required></ion-input>
    </ion-item>

    <br>
    <ion-button type="submit" color="menu" expand="block" [disabled]="register.invalid">Registrarse</ion-button>
  </form>
  
  <br>
  <p class="center" routerLink="/login">Ya tengo una cuenta</p>
  <br>
</ion-content>