ion-avatar {
    margin: auto;
}

ion-col {
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

ion-col:hover {
    background: #08CED3;
}

.center {
    text-align: center;
}

.avatar-text {
    display: flex;
    width: 100%;
    justify-content: center;
}