<ion-header>
  <ion-toolbar color="menu">
    <ion-button slot="start" fill="clear" (click)="returnBack()">
      <ion-icon class="close-icon" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Buzón privado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let message of messages" (click)="openTemporalMessage(message)">
      <ion-avatar slot="start">
        <ion-img [src]="icon"></ion-img>
      </ion-avatar>

      <ion-label>
        <h2><b>{{message.name_user_send}}</b></h2>
        <p>{{message.date.toMillis()  | date:'dd-MM-yyyy &nbsp;&nbsp;&nbsp; h:mm a'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer padding>
  <ion-toolbar color="light">
    <ion-button expand="block" color="success" (click)="openMessageModal()">Nuevo mensaje</ion-button>
  </ion-toolbar>
</ion-footer>