<ion-header [translucent]="true">
  <ion-toolbar color="menu">
    <ion-button slot="end" fill="clear" (click)="presentActionSheet()">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-title>
      Chat encriptado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let chat of chatRooms" (click)="openChat(chat)">
      <ion-avatar slot="start" *ngIf="chat.creator_user.uid===user.uid">
        <ion-img [src]="chat.host_user.avatar"></ion-img>
      </ion-avatar>
      <ion-avatar slot="start" *ngIf="chat.host_user.uid===user.uid">
        <ion-img [src]="chat.creator_user.avatar"></ion-img>
      </ion-avatar>

      <ion-label *ngIf="chat.creator_user.uid===user.uid">
        <h2><b>{{chat.host_user.name}}</b></h2>
        <p>{{chat.host_user.state}}</p>
      </ion-label>
      <ion-label *ngIf="chat.host_user.uid===user.uid">
        <h2><b>{{chat.creator_user.name}}</b></h2>
        <p>{{chat.creator_user.state}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
