<ion-header>
  <ion-toolbar color="menu">
    <ion-button slot="start" fill="clear" (click)="closeModal()">
      <ion-icon class="close-icon" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Iniciar nuevo chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let user of users" (click)="createChatRoom(user)">
      <ion-avatar slot="start">
        <ion-img [src]="user.avatar"></ion-img>
      </ion-avatar>

      <ion-label>
        <h2><b>{{user.name}}</b></h2>
        <p>{{user.state}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>