<ion-header>
  <ion-toolbar color="menu">
    <ion-button slot="start" fill="clear" (click)="closeModal()">
      <ion-icon class="close-icon" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Mensaje temporal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="fixed">Destinatario: </ion-label>
    <ion-input disabled>{{userToSend.name}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mensaje</ion-label>
    <ion-textarea [(ngModel)]="secretMessage" name="secretMessage" autocomplete="on" autocorrect="on"></ion-textarea>
  </ion-item>

  <ion-button expand="block" color="success" (click)="sendMessage()">Enviar mensaje</ion-button>
  
  <ion-list>
    <ion-item *ngFor="let user of users" (click)="assignUserName(user)">
      <ion-avatar slot="start">
        <ion-img [src]="user.avatar"></ion-img>
      </ion-avatar>

      <ion-label>
        <h2><b>{{user.name}}</b></h2>
        <p>{{user.state}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>